<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxc.mybatisplus.teacher.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxc.mybatisplus.teacher.entity.Teacher">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
    </resultMap>
    <select id="selectTeachersByAge" resultMap="BaseResultMap" resultType="java.lang.Integer">
        select * from teacher where age=#{age}
    </select>

</mapper>
